@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
  background: url(../images/retina_wood.png);  margin: auto;
  width: 1280px;
}

a {
  color: #6baed6;
}

a:not(:hover) {
  text-decoration: none;
}

.stack {
  background: url(../images/ms-bkg.png);  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  height: 800px;
  padding: 40px 80px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.stack-one {
  background: #97E8E4 !important;
}

.stack-two {
  background: #BDE5F9 !important;
}

.stack-tree {
  background: #6CC9F6 !important;
}

.stack-four {
  background: #AEB2B4 !important;
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.grey {
  color: #969696;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}

.container, .container-narrow {
  font-family: 'Arvo', serif;
    display: block;
}
.jumbotron {
  padding-top: 250px;
}

.side h3, .side h4, .side h5 {
  padding-left: 90px;
}

.common .jumbotron {
  padding-top: 30px;
}

.brand {
  display: block;
  width: 248px;
  height: 88px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position:50% 50%; 
  text-indent: -5000px;
  padding: 0px;
  margin-top: 0px;
  }


.lead {
  position: relative;
  margin-top: -35px;
  margin-left: 100px;
  color: #969696;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -.05em;
  color: ;
}

.block {
  display: block;
  height: 80px;
}

